html,
body {
    margin: 0;
    padding: 0;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 16px;
    line-height: 1.5;
}

.sidebar {
    background-image: linear-gradient(to bottom, #3ab5b0 0%, #3d99be 31%, #56317a 100%);
    color: rgba(255, 255, 255, 0.7);
    height: 100%;
    padding: 8em 4em;
    position: fixed;
    text-align: right;
    width: 35%;
}

.content {
    margin-left: 35%;
    width: calc(100%-35%);
}

a {
    transition: color 0.2s ease-in-out, border-color 0.2s ease-in-out;
    border-bottom: dotted 1px;
    color: #49bf9d;
    text-decoration: none;
}

a:hover {
    border-bottom-color: transparent;
    color: #49bf9d !important;
    text-decoration: none;
}
